:root{
    --message-to-user-color: #F8F8F8;
}

.chat{
    width: 80%;
    padding: 20px;
    display: flex;
}

.chat__no-messages{
    justify-content: center;
    align-items: center;
    color: var(--text-color-gray);
}

.chat__has-messages{
    flex-direction: column;
    justify-content: space-between;
}

.user__info{
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid var(--secondary-color);
    padding-bottom: 10px;
}

.user__name{
    display: flex;
    align-items: center;
    gap: 8px;
}

.photo-circle{
    width: 40px;
    height: 40px;
    background-color: var(--secondary-color);
    border-radius: 100%;
}

.list__messages{
    height: 85%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    gap: 20px;
}

.message{
    max-width: 60%;
    padding: 10px;
    border-radius: var(--rounded);
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.message__to-user{
    background-color: var(--message-to-user-color);
    align-self: start;
}

.message__from-user{
    background-color: var(--third-color);
    align-self: end;
}

.message__time{
    color: var(--primary-color);
    font-size: 12px;
    align-self: end;
}

.message__date{
    align-self: center;
    color: var(--text-color-gray);
}

.time-gray{
    color: var(--text-color-gray);
}

.message__send{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.message__input{
    width: 92%;
}

.message-send__button{
    width: 35px;
}

.message-send__button > button{
    padding: 5px 0;
    border-radius: 100%;
}

.select-menu{
    position: absolute;
    right: 20px;
    top: 75px;
    background: var(--secondary-color);
    font-size: 12px;
    border-radius: var(--rounded);

    > div{
        padding: 10px;
        cursor: pointer;
        border-radius: var(--rounded);

        &:hover {
            background: var(--third-color);
        }
    }
}

#open-select{
    cursor: pointer;
}

.form__search-user{
    display: flex;
    flex-direction: column;
    gap: 10px !important;
    margin-top: 15px;
}

.search__users, .delete__users{
    max-height: 150px;
    overflow-y: auto;
    margin: 10px;

    label{
        display: flex;
        align-items: center;
        font-size: 14px;
        padding: 10px;
        
        &:hover{
            background: var(--third-color);
        }
    }

    input{
        width: fit-content;
    }
}



