<div class="modal flex__center">
    <div class="modal__content ">
        <form class="flex__center">
            <h3>Загрузите файл</h3>
            {{> Input id='avatar-input' type="file" name='avatar' label='Выбрать файл на компьютере'}}
            {{> Button id="change-avatar-button" type="submit" content="Поменять"}} 
        </form>
    </div>
</div>